In [26]:
from function import *

In [27]:
## BCPST Ranking
df_bcpst = pd.read_csv('data/2019_CPGE_BCPST.csv', delimiter=';', usecols=fields.keys()).rename(columns=fields)
df_bcpst.head()

,Etablissement,Departement,Region,sans_mention,assez_bien,bien,tres_bien
0,Lycée Ozenne,31,Occitanie,0,1,24,22
1,Lycée Francois René De Chateaubriand,35,Bretagne,3,13,59,67
2,Lycée Albert Chatelet,59,Hauts-de-France,1,12,20,15
3,Lycée Jean Rostand,67,Grand Est,0,0,8,38
4,Lycée La Martiniere Monplaisir,69,Auvergne-Rhône-Alpes,0,6,24,15

In [28]:
df_bcpst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Etablissement  54 non-null     object
 1   Departement    54 non-null     int64
 2   Region         54 non-null     object
 3   sans_mention   54 non-null     int64
 4   assez_bien     54 non-null     int64
 5   bien           54 non-null     int64
 6   tres_bien      54 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.1+ KB

In [29]:
df_bcpst.nunique()

Etablissement    54
Departement      38
Region           15
sans_mention      8
assez_bien       20
bien             30
tres_bien        40
dtype: int64

In [30]:
df_bcpst = pd.read_csv('data/2019_CPGE_BCPST.csv', delimiter=';', usecols=fields.keys()).rename(columns=fields).set_index('Etablissement')
df_bcpst.head()

,Departement,Region,sans_mention,assez_bien,bien,tres_bien
Etablissement,,,,,,
Lycée Ozenne,31,Occitanie,0,1,24,22
Lycée Francois René De Chateaubriand,35,Bretagne,3,13,59,67
Lycée Albert Chatelet,59,Hauts-de-France,1,12,20,15
Lycée Jean Rostand,67,Grand Est,0,0,8,38
Lycée La Martiniere Monplaisir,69,Auvergne-Rhône-Alpes,0,6,24,15

In [31]:
createMeanCol(df_bcpst)
createRanking(df_bcpst)
df_bcpst.sort_values("classement_bac").head(13)

,Departement,Region,sans_mention,assez_bien,bien,tres_bien,moyenne_bac,classement_bac
Etablissement,,,,,,,,
Lycée Sainte Geneviève,78,Ile-de-France,0,0,0,42,17.00,1
Lycée Henri IV,75,Ile-de-France,0,1,2,43,16.83,2
Lycée Joffre,34,Occitanie,0,0,5,42,16.79,3
Lycée Saint-Louis (6ème),75,Ile-de-France,0,0,15,125,16.79,4
Lycée du Parc,69,Auvergne-Rhône-Alpes,0,0,15,119,16.78,5
Lycée Pierre Corneille,76,Normandie,0,0,6,42,16.75,6
L.E.G.T.A. Toulouse Auzeville,31,Occitanie,0,0,5,29,16.71,7
Lycée Jean Rostand,67,Grand Est,0,0,8,38,16.65,8
Lycée Pierre De Fermat,31,Occitanie,0,3,14,77,16.57,9
Lycée Champollion,38,Auvergne-Rhône-Alpes,0,1,20,72,16.53,10
Lycée Janson De Sailly,75,Ile-de-France,0,3,14,62,16.49,11
Lycée Descartes,37,Centre-Val de Loire,0,2,8,37,16.49,12
Lycée Hoche,78,Ile-de-France,0,3,23,64,16.36,13

In [32]:
etudiant_ranking = getRankEtudiant2('https://www.letudiant.fr/palmares/classement-prepa/maths-spe-bcpst/ecole-integree-panier.html')[1][["Établissement", "Rang 2021"]]
etudiant_ranking

                                        Établissement Rang 2021
                                    Moyenne nationale         *
0                     Sainte-GenevièveVersailles (78)         1
1                              JoffreMontpellier (34)         2
2                               Saint-LouisParis (75)         3
3                                  Henri-IVParis (75)         4
4                          Janson-de-SaillyParis (75)         5
5                                HocheVersailles (78)         6
6             Toulouse-AuzevilleCastanet-Tolosan (31)         7
7                                    Le ParcLyon (69)         8
8                         Angers-le-FresneAngers (49)         9
9                            ChampollionGrenoble (38)        10
10                              ClemenceauNantes (44)        11
11                      Pierre-de-FermatToulouse (31)        12
12                               ClemenceauReims (51)        13
13                                DescartesTours (37)        14
14                                  FénelonParis (75)        14
15                           ChateaubriandRennes (35)        16
16                                 LakanalSceaux (92)        17
17                                   CarnotDijon (21)        18
18                                CorneilleRouen (76)        19
19                                PasteurLempdes (63)        19
20                             MontaigneBordeaux (33)        21
21                                OzenneToulouse (31)        22
22                                   MassénaNice (06)        23
23                        Jean-Baptiste-SayParis (75)        24
24                        Jean-RostandStrasbourg (67)        24
25                Le Chesnoy-les-BarresMontargis (45)        26
26                                  MalherbeCaen (14)        27
27                 Blaise-PascalClermont-Ferrand (63)        28
28                           Victor-HugoBesançon (25)        29
29                     François-IerFontainebleau (77)        30
30                           Henri-PoincaréNancy (54)        31
31           Jacques PrévertBoulogne-Billancourt (92)        32
32                         Emmanuel-d'AlzonNîmes (30)        33
33       Pierre-Gilles-de-Gennes (ex-ENCPB)Paris (75)        34
34       Marcelin-BerthelotSaint-Maur-des-Fossés (94)        35
35                                  ChaptalParis (75)        36
36                               ThiersMarseille (13)        37
37                                PothierOrléans (45)        38
38                                FaidherbeLille (59)        39
39                          Albert-ChâteletDouai (59)        40
40        Assomption-BellevueLa Mulatière (Lyon) (69)        41
41                   Claude-FaurielSaint-Etienne (42)        42
42                  La Martinière-MonplaisirLyon (69)        42
43                              Louis-BarthouPau (64)        44
44                        Camille-GuérinPoitiers (86)        45
45                           SchweitzerLe Raincy (93)        46
46                        Léonard-LimosinLimoges (87)        47
47                         Louis-ThuillierAmiens (80)        48
48  Externat Chavagnes (ex-Enfants nantais)Nantes ...        49
49                       Roland-GarrosLe Tampon (974)        49
50                        Georges-de-La-TourMetz (57)        51
51                              Centre-SudDucos (972)        52
52        BaimbridgePointe-à-Pitre (Les Abymes) (971)        53
53                              RobespierreArras (62)        54
54        Notre-Dames-des-AngesSt-Amand-Les-Eaux (59)        55

In [33]:
dic = etudiant_ranking[etudiant_ranking[("Rang 2021", '*')] != "NC"].to_dict('tight')
res = {}
for entry in dic["data"]:
    res[entry[0]] = int(entry[1])
res

{'Sainte-GenevièveVersailles (78)': 1,
 'JoffreMontpellier (34)': 2,
 'Saint-LouisParis (75)': 3,
 'Henri-IVParis (75)': 4,
 'Janson-de-SaillyParis (75)': 5,
 'HocheVersailles (78)': 6,
 'Toulouse-AuzevilleCastanet-Tolosan (31)': 7,
 'Le ParcLyon (69)': 8,
 'Angers-le-FresneAngers (49)': 9,
 'ChampollionGrenoble (38)': 10,
 'ClemenceauNantes (44)': 11,
 'Pierre-de-FermatToulouse (31)': 12,
 'ClemenceauReims (51)': 13,
 'DescartesTours (37)': 14,
 'FénelonParis (75)': 14,
 'ChateaubriandRennes (35)': 16,
 'LakanalSceaux (92)': 17,
 'CarnotDijon (21)': 18,
 'CorneilleRouen (76)': 19,
 'PasteurLempdes (63)': 19,
 'MontaigneBordeaux (33)': 21,
 'OzenneToulouse (31)': 22,
 'MassénaNice (06)': 23,
 'Jean-Baptiste-SayParis (75)': 24,
 'Jean-RostandStrasbourg (67)': 24,
 'Le Chesnoy-les-BarresMontargis (45)': 26,
 'MalherbeCaen (14)': 27,
 'Blaise-PascalClermont-Ferrand (63)': 28,
 'Victor-HugoBesançon (25)': 29,
 'François-IerFontainebleau (77)': 30,
 'Henri-PoincaréNancy (54)': 31,
 'Jacques PrévertBoulogne-Billancourt (92)': 32,
 "Emmanuel-d'AlzonNîmes (30)": 33,
 'Pierre-Gilles-de-Gennes (ex-ENCPB)Paris (75)': 34,
 'Marcelin-BerthelotSaint-Maur-des-Fossés (94)': 35,
 'ChaptalParis (75)': 36,
 'ThiersMarseille (13)': 37,
 'PothierOrléans (45)': 38,
 'FaidherbeLille (59)': 39,
 'Albert-ChâteletDouai (59)': 40,
 'Assomption-BellevueLa Mulatière (Lyon) (69)': 41,
 'Claude-FaurielSaint-Etienne (42)': 42,
 'La Martinière-MonplaisirLyon (69)': 42,
 'Louis-BarthouPau (64)': 44,
 'Camille-GuérinPoitiers (86)': 45,
 'SchweitzerLe Raincy (93)': 46,
 'Léonard-LimosinLimoges (87)': 47,
 'Louis-ThuillierAmiens (80)': 48,
 'Externat Chavagnes (ex-Enfants nantais)Nantes (44)': 49,
 'Roland-GarrosLe Tampon (974)': 49,
 'Georges-de-La-TourMetz (57)': 51,
 'Centre-SudDucos (972)': 52,
 'BaimbridgePointe-à-Pitre (Les Abymes) (971)': 53,
 'RobespierreArras (62)': 54,
 'Notre-Dames-des-AngesSt-Amand-Les-Eaux (59)': 55}

In [34]:
dic_ranking_bcpst_2021 = {
 'Sainte-Geneviève (78)': 1,
 'Joffre (34)': 2,
 'Saint-Louis (75)': 3,
 'Henri-IV (75)': 4,
 'Janson-de-Sailly (75)': 5,
 'Hoche (78)': 6,
 'Toulouse-Auzeville (31)': 7,
 'Le Parc (69)': 8,
 'Angers-le-Fresne (49)': 9,
 'Champollion (38)': 10,
 'Clemenceau (44)': 11,
 'Pierre-de-Fermat (31)': 12,
 'Clemenceau (51)': 13,
 'Descartes (37)': 14,
 'Fénelon (75)': 14,
 'Chateaubriand (35)': 16,
 'Lakanal (92)': 17,
 'Carnot (21)': 18,
 'Corneille (76)': 19,
 'Pasteur (63)': 19,
 'Montaigne (33)': 21,
 'Ozenne (31)': 22,
 'Masséna (06)': 23,
 'Jean-Baptiste-Say (75)': 24,
 'Jean-Rostand (67)': 24,
 'Le Chesnoy-les-Barres (45)': 26,
 'Malherbe (14)': 27,
 'Blaise-Pascal (63)': 28,
 'Victor-Hugo (25)': 29,
 'François-Ier (77)': 30,
 'Henri-Poincaré (54)': 31,
 'Jacques Prévert (92)': 32,
 "Emmanuel-d'Alzon (30)": 33,
 'Pierre-Gilles-de-Gennes (ex-ENCPB) (75)': 34,
 'Marcelin-Berthelot (94)': 35,
 'Chaptal (75)': 36,
 'Thiers (13)': 37,
 'Pothier (45)': 38,
 'Faidherbe (59)': 39,
 'Albert-Châtelet (59)': 40,
 'Assomption-Bellevue (69)': 41,
 'Claude-Fauriel (42)': 42,
 'La Martinière-Monplaisir (69)': 42,
 'Louis-Barthou (64)': 44,
 'Camille-Guérin (86)': 45,
 'Schweitzer (93)': 46,
 'Léonard-Limosin (87)': 47,
 'Louis-Thuillier (80)': 48,
 'Externat Chavagnes (ex-Enfants nantais) (44)': 49,
 'Roland-Garros (974)': 49,
 'Georges-de-La-Tour (57)': 51,
 'Centre-Sud (972)': 52,
 'Baimbridge (971)': 53,
 'Robespierre (62)': 54,
 'Notre-Dames-des-Anges (59)': 55
}

In [35]:
processed_dic = processDataDic(dic_ranking_bcpst_2021)
processed_dic

{1: ['Sainte-Geneviève', 78],
 2: ['Joffre', 34],
 3: ['Saint-Louis', 75],
 4: ['Henri-IV', 75],
 5: ['Janson-de-Sailly', 75],
 6: ['Hoche', 78],
 7: ['Toulouse-Auzeville', 31],
 8: ['Le Parc', 69],
 9: ['Angers-le-Fresne', 49],
 10: ['Champollion', 38],
 11: ['Clemenceau', 44],
 12: ['Pierre-de-Fermat', 31],
 13: ['Clemenceau', 51],
 14: ['Fénelon', 75],
 16: ['Chateaubriand', 35],
 17: ['Lakanal', 92],
 18: ['Carnot', 21],
 19: ['Pasteur', 63],
 21: ['Montaigne', 33],
 22: ['Ozenne', 31],
 23: ['Masséna', 6],
 24: ['Jean-Rostand', 67],
 26: ['Le Chesnoy-les-Barres', 45],
 27: ['Malherbe', 14],
 28: ['Blaise-Pascal', 63],
 29: ['Victor-Hugo', 25],
 30: ['François-Ier', 77],
 31: ['Henri-Poincaré', 54],
 32: ['Jacques Prévert', 92],
 33: ["Emmanuel-d'Alzon", 30],
 34: ['Pierre-Gilles-de-Gennes (ex-ENCPB)', 75],
 35: ['Marcelin-Berthelot', 94],
 36: ['Chaptal', 75],
 37: ['Thiers', 13],
 38: ['Pothier', 45],
 39: ['Faidherbe', 59],
 40: ['Albert-Châtelet', 59],
 41: ['Assomption-Bellevue', 69],
 42: ['La Martinière-Monplaisir', 69],
 44: ['Louis-Barthou', 64],
 45: ['Camille-Guérin', 86],
 46: ['Schweitzer', 93],
 47: ['Léonard-Limosin', 87],
 48: ['Louis-Thuillier', 80],
 49: ['Roland-Garros ', 74],
 51: ['Georges-de-La-Tour', 57],
 52: ['Centre-Sud ', 72],
 53: ['Baimbridge ', 71],
 54: ['Robespierre', 62],
 55: ['Notre-Dames-des-Anges', 59]}

In [ ]:
df_bcpst = df_bcpst.sort_values("classement_bac")
createSeriesRankingEtu(processed_dic, df_bcpst)
df_bcpst.to_excel('res/classement_BCPST.xlsx')

In [36]:
final_df = pd.read_excel('res/classement_BCPST.xlsx')
final_df.head()

,Etablissement,Departement,Region,sans_mention,assez_bien,bien,tres_bien,moyenne_bac,classement_bac,classement_etu
0,Lycée Sainte Geneviève,78,Ile-de-France,0,0,0,42,17.00,1,1
1,Lycée Henri IV,75,Ile-de-France,0,1,2,43,16.83,2,4
2,Lycée Joffre,34,Occitanie,0,0,5,42,16.79,3,2
3,Lycée Saint-Louis (6ème),75,Ile-de-France,0,0,15,125,16.79,4,3
4,Lycée du Parc,69,Auvergne-Rhône-Alpes,0,0,15,119,16.78,5,8

In [37]:
createFinalRanking(final_df)
createPlusValueRanking(final_df)
final_df.head()

,Etablissement,Departement,classement_PV,Region,sans_mention,assez_bien,bien,tres_bien,moyenne_bac,classement_bac,classement_etu,difference
0,Lycée Sainte Geneviève,78,25,Ile-de-France,0,0,0,42,17.00,1,1,0
1,Lycée Henri IV,75,34,Ile-de-France,0,1,2,43,16.83,2,4,-2
2,Lycée Joffre,34,22,Occitanie,0,0,5,42,16.79,3,2,1
3,Lycée Saint-Louis (6ème),75,21,Ile-de-France,0,0,15,125,16.79,4,3,1
4,Lycée du Parc,69,38,Auvergne-Rhône-Alpes,0,0,15,119,16.78,5,8,-3

In [39]:
final_df_sorted = final_df.sort_values(by='classement_PV').loc[:,col_name_export.keys()].rename(columns=col_name_export).set_index(col_name_export['classement_PV'])

etablissement = final_df_sorted.pop('Établissement')
final_df_sorted.insert(0, 'Établissement', etablissement)

print(final_df_sorted)

final_df_sorted.to_csv('export/classement_final_BCPST.csv')

                                                            Établissement  \
Classement "Plus-Value" (2021)
1                                  Lycée agricole Le Chesnoy - Les Barres
2                                   Lycée Pierre-Gilles de Gennes - ENCPB
3                                                           Lycée Fénelon
4                                         Lycée agricole Angers le Fresne
5                                                           Lycée Lakanal
6                                                   Lycée Jacques Prevert
7                                                        Lycée CLEMENCEAU
8                                                  Lycée Emmanuel d'Alzon
9                                                     Lycée Blaise Pascal
10                                                            Lycée Hoche
11                                                Lycée Albert Schweitzer
12                                                 Lycée Janson De Sailly
13                                   Lycée Francois René De Chateaubriand
14                                               Lycée Marcelin Berthelot
15                                                  Lycée Louis Thuillier
16                                               Lycée général Clemenceau
17                                                   Lycée Camille Guérin
18                                              Lycée Assomption Bellevue
19                                                Lycée Jean-Baptiste Say
20                                                     Lycée Francois Ier
21                                               Lycée Saint-Louis (6ème)
22                                                           Lycée Joffre
23                                 Lycée général privé Externat Chavagnes
24                                                          Lycée Pothier
25                                                 Lycée Sainte Geneviève
26                                          L.E.G.T.A. Toulouse Auzeville
27                                                        Lycée Montaigne
28                              LEGTPA Louis Pasteur (Clermont-Marmilhat)
29                                                      Lycée Champollion
30                                                      Lycée Victor Hugo
31                                                           Lycée Carnot
32                                                  Lycée Albert Chatelet
33                                                    Lycée Louis Barthou
34                                                         Lycée Henri IV
35                                                           Lycée Ozenne
36                                                           Lycée Thiers
37                                                        Lycée Descartes
38                                                          Lycée du Parc
39                                                       Lycée Centre Sud
40                                                 Lycée Pierre De Fermat
41                                                         Lycée Malherbe
42                                                  Lycée Leonard Limosin
43                                                   Lycée Claude Fauriel
44                                               Lycée Georges De La Tour
45                                                       Lycée Baimbridge
46                                                          Lycée Chaptal
47                                                          Lycée Masséna
48                                                   Lycée Henri Poincaré
49                                         Lycée La Martiniere Monplaisir
50                                                 Lycée Pierre Corneille
51                                                     Lycée Jean Rostand
52                                                      Lycée Robespierre
53                                                        Lycée Faidherbe
54                                                    Lycée Roland Garros

                                Département  Moyenne du Lycée au BAC (2019)  \
Classement "Plus-Value" (2021)
1                                        45                           14.16
2                                        75                           13.73
3                                        75                           15.21
4                                        49                           15.63
5                                        92                           15.29
6                                        92                           14.55
7                                        51                           15.52
8                                        30                           14.91
9                                        63                           15.14
10                                       78                           16.36
11                                       93                           13.96
12                                       75                           16.49
13                                       35                           15.68
14                                       94                           14.98
15                                       80                           13.82
16                                       44                           16.32
17                                       86                           14.39
18                                       69                           14.61
19                                       75                           15.51
20                                       77                           15.23
21                                       75                           16.79
22                                       34                           16.79
23                                       44                           14.19
24                                       45                           15.06
25                                       78                           17.00
26                                       31                           16.71
27                                       33                           15.86
28                                       63                           15.94
29                                       38                           16.53
30                                       25                           15.50
31                                       21                           16.02
32                                       59                           15.04
33                                       64                           14.91
34                                       75                           16.83
35                                       31                           15.89
36                                       13                           15.14
37                                       37                           16.49
38                                       69                           16.78
39                                      972                           14.20
40                                       31                           16.57
41                                       14                           15.67
42                                       87                           14.74
43                                       42                           15.13
44                                       57                           14.53
45                                      971                           14.50
46                                       75                           15.45
47                                        6                           16.29
48                                       54                           15.67
49                                       69                           15.40
50                                       76                           16.75
51                                       67                           16.65
52                                       62                           15.21
53                                       59                           16.17
54                                      974                           16.00

                                Classement Parcoursup (2019)  \
Classement "Plus-Value" (2021)
1                                                         51
2                                                         54
3                                                         34
4                                                         25
5                                                         31
6                                                         45
7                                                         26
8                                                         41
9                                                         36
10                                                        13
11                                                        52
12                                                        11
13                                                        22
14                                                        40
15                                                        53
16                                                        14
17                                                        48
18                                                        44
19                                                        27
20                                                        32
21                                                         4
22                                                         3
23                                                        50
24                                                        38
25                                                         1
26                                                         7
27                                                        21
28                                                        19
29                                                        10
30                                                        28
31                                                        17
32                                                        39
33                                                        42
34                                                         2
35                                                        20
36                                                        35
37                                                        12
38                                                         5
39                                                        49
40                                                         9
41                                                        24
42                                                        43
43                                                        37
44                                                        46
45                                                        47
46                                                        29
47                                                        15
48                                                        23
49                                                        30
50                                                         6
51                                                         8
52                                                        33
53                                                        16
54                                                        18

                                Classement L'étudiant (2021)  Différence
Classement "Plus-Value" (2021)
1                                                         26          25
2                                                         34          20
3                                                         14          20
4                                                          9          16
5                                                         17          14
6                                                         32          13
7                                                         13          13
8                                                         33           8
9                                                         28           8
10                                                         6           7
11                                                        46           6
12                                                         5           6
13                                                        16           6
14                                                        35           5
15                                                        48           5
16                                                        11           3
17                                                        45           3
18                                                        41           3
19                                                        24           3
20                                                        30           2
21                                                         3           1
22                                                         2           1
23                                                        49           1
24                                                        38           0
25                                                         1           0
26                                                         7           0
27                                                        21           0
28                                                        19           0
29                                                        10           0
30                                                        29          -1
31                                                        18          -1
32                                                        40          -1
33                                                        44          -2
34                                                         4          -2
35                                                        22          -2
36                                                        37          -2
37                                                        14          -2
38                                                         8          -3
39                                                        52          -3
40                                                        12          -3
41                                                        27          -3
42                                                        47          -4
43                                                        42          -5
44                                                        51          -5
45                                                        53          -6
46                                                        36          -7
47                                                        23          -8
48                                                        31          -8
49                                                        42         -12
50                                                        19         -13
51                                                        24         -16
52                                                        54         -21
53                                                        39         -23
54                                                        49         -31